*.swp
*.bbl
*.blg
*.fff
*.log
*.lof
*.aux
manuscript.pdf
references.bib.bak
.ipynb_checkpoints/
notebooks/model*.txt
notebooks/points.txt
notebooks/tesseroid_vs_spherical_shell_files/
figs/*eps-converted-to.pdf
