*.swp
*.lot
*.ttt
*.fls
*.bbl
*.blg
*.fff
*.log
*.lof
*.aux
*.pyc
*.out
*~
manuscript.pdf
references.bib.bak
.ipynb_checkpoints/
notebooks/tesseroid_vs_spherical_shell_files/
figs/*eps-converted-to.pdf
